# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[manager]
prepend_keymap = [
  { on = [ "c", "a" ], run = "plugin ouch zip", desc = "Compress with ouch"},
  { on = [ "c", "m" ], run = "plugin chmod", desc = "Chmod on selected files"},
  { on = [ "g", "r" ], run = '''
    shell 'ya emit cd "$(git rev-parse --show-toplevel)"'
''', desc = "Go to the root of the current Git repository"},
  { on  = "j", run = "plugin arrow 1"},
  { on  = "k", run = "plugin arrow -1"},
  { on  = "J", run = "plugin parent-arrow 1"},
  { on  = "K", run = "plugin parent-arrow -1"},
  { on = "l", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
  { on = "p", run = "plugin smart-paste", desc = "Paste into the hovered directory or CWD" },
  { on = "t", run = "plugin smart-tab", desc = "Create a tab and enter the hovered directory" },
  { on = "M", run = "plugin max-preview", desc = "Maximize or restore preview"},
  { on = "<C-p>", run = "seek -5", desc = "Seek up 5 units in the preview" },
  { on = "<C-n>", run = "seek 5",  desc = "Seek down 5 units in the preview" },
]

[input]
prepend_keymap = [
  { on = [ "<Esc>" ], run = "close", desc = "Cancel input" },
]
